body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

#restaurant-name {
    font-size: 24px;
    font-weight: bold;
}

nav button {
    background-color: #444;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

nav button:hover {
    background-color: #555;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
}

.hero p {
    font-size: 24px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #222;
}

.menu-item {
    flex: 1 1 300px;
    margin: 10px;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.menu-itme h2 {
    font-size: 24px;
    margin: 10px 0;
}

.menu-item p {
    font-size: 16px;
    margin: 10px 0;
}

.menu-item span {
    font-size: 20px;
    font-weight: bold;
    color: #f90;
}